doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")

    title= records.site.name

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")

    script(type="text/javascript", src="js/tipuesearch_set.js")
    script(type="text/javascript", src="js/tipuesearch.min.js")
    link(rel="stylesheet", type="text/css", href="css/tipuesearch.css")

    script(src="/js/skel.min.js")
    script(src="/js/skel-layers.min.js")
    script(src="/js/init.js")


    noscript
      link(rel="stylesheet", href="/css/skel.css")
      link(rel="stylesheet", href="/css/style.css")
      link(rel="stylesheet", href="/css/style-desktop.css")

    link(rel='stylesheet', href='/css/custom.css')


  body
    include ./includes/_header.jade

    #main-wrapper
      .container
        block content

    include ./includes/_footer.jade

    //- script.
    //-   $(document).ready(function() {
    //-     $('#tipue_search_input').tipuesearch();
    //-   });

    //- != js()


    script(type="text/javascript", src="/js/custom.js")

